{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
		<br> 
		<h4 style = "text-align:center;">
		Извините. Данный функционал находится в разработке!!
		<br>
		<br>
		В данной реализации доступны:
		<br>
		<br>
		1. Расчет сил и напряжений по нейросетевым моделям.
		</h4>
		 
		<h5 style = "text-align:center;">
		Главное меню - Планирование ТОиР/Расчеты пути/Расчет сил и напряжений по нейросетевым моделям
		</h5>
		<br>
		
        <h4 style = "text-align:center;">
		2. Расчет сил и напряжений по модели ВЭИП.
		</h4>
		
		<h5 style = "text-align:center;">
		 Главное меню - Планирование ТОиР/Расчеты пути/Расчет сил и напряжений в программном комплексе ВЭИП
        </h5>
		<br>
		<h5 style = "text-align:center;">
		<form action="{% url 'main' %}">
		<button>Вернуться на главную страницу</button> </form>
		</h5>
		<br>
	
		
	
		
        {% endblock %}