{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>НЕЙРОЭКСПЕРТ - ПУТЬ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
	<div class="container" style = "width: 1000px;">
		<div class="slider" style = "margin:15px; height: 100px; ">
			<a href="https://www.vniizht.ru/" target="_blank" class="logo" style = "width:175px; height: 100px; background-image: url(/static/img/logo_vniizht.webp); background-repeat: no-repeat; margin:5px; padding:10px">
			</a>
        	<span class="text-slider green" style = "width:800px; margin:0; margin-left:35px; margin-top:05px; ">
			<br>
			
				Научный информационно - аналитический центр (НИАЦ)
				<br>
			    <br> 
				Отдел комплексных инновационных проектов (ОКИП)
			</span>
		</div>

		<nav>
			<ul class="topmenu"  >
				<li><a href="#" > Проект <span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="#">Создать новый проект</a></li>
						<li><a href="#">Загрузить существующий проект</a></li>
					</ul>
				</li>
				<li><a href="#">Путевая инфраструктура<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="#">Характристики плана/профиля пути</a></li>
						<li><a href="#">Характеристики верхнего строения пути</a></li>
						<li><a href="#">Загрузка характеристик из баз данных (ЕК АСУ И итп)</a></li>
					</ul>
				</li>
				<li><a href="#">Эксплуатационные условия<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="#">Данные подвижного состава</a></li>
						<li><a href="#">Характеристики вагонопотока</a></li>
						<li><a href="#">Характеристики поездопотока</a></li>
						<li><a href="#">Климатические характеристики</a></li>
					</ul>
				</li>
				<li><a href="#">Планирование ТОиР<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="#">Нагруженность пути<span class="fa fa-angle-down"></span></a>
							<ul class="submenu">
								<li><a href="https://veip.vniizht.ru/" target="_blank">Расчет в программном комплексе ВЭИП</a></li>
								<li><a href="#">Расчет по нейросетевым моделям</a></li>
								<li><a href="#">Загрузка данных натурных измерений</a></li>
							</ul>
						</li>
						<li><a href="#">Технико-экономические критерии<span class="fa fa-angle-down"></span></a>
							<ul class="submenu">
								<li><a href="#">Стоимость путевых работ и ремонтов пути </a></li>
								<li><a href="#">Критерии назначения ремонтов пути</a></li>
								<li><a href="#">Критерии безопасности движения поездов</a></li>
								<li><a href="#">Критерии надежности (УРРАН)</a></li>
								<li><a href="#">Критерии интенсивности деградации пути</a></li>
							</ul>
						</li>
						<li><a href="#">Прогнозные расчеты деградационных процессов</a></li>
						<li><a href="#">Формирование отчетов<span class="fa fa-angle-down"></span></a>
							<ul class="submenu">
								<li><a href="#">Схема периодичности проведения ремонтов пути </a></li>
								<li><a href="#">Годовые планы организации текущего содержания</a></li>
								<li><a href="#">Бюджетирование затрат ТОиР</a></li>
								<li><a href="#">Анализ нагруженности пути </a></li>
								<li><a href="#">Анализ интенсивности деградации пути</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">Помощь<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="#">Об программе</a></li>
						<li><a href="#">Обратиться к разработчику<span class="fa fa-angle-down"></span></a>
							<ul class="submenu">
								<li><a href="mailto:suslov.oleg@vniizht.ru">
										<span style = "width:150px; margin:0; padding:0;">
											Научный информационно-аналитический центр (НИАЦ)
											<br> 
											196128, г. Санкт-Петербург,	ул. Благодатная, д. 10, стр. 1,
											<br>
											8 этаж, оф. 825, Тел.: +7(499) 260-41-58 
											<br>
											E-mail:sekretar_niac@vniizht.ru
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Часто задаваемые вопросы</a></li>
						
					</ul>
				</li>
				<li><a href="#">Войти</a></li>
			</ul>
		</nav>	
		<img src ="/static/img/toir5.jpg" alt="альтернативный текст" style = "margin-top:25px;  margin-left:120px; ">	
		<br>
		{% comment %} <div class="footer">
			<div class="text-footer">
				<h3> контакты </h3>
				<h4>
						Научный информационно-аналитический центр (НИАЦ) 196128, г. Санкт-Петербург,
						ул. Благодатная, д. 10, стр. 1, 8 этаж, оф. 825, Тел.: +7(499) 260-41-58 
						E-mail: sekretar_niac@vniizht.ru
				</h4>
			</div>
			<div class="text-footer">
				<h3>полезная информация</h3>
				<h4>
						Центральный офис АО «ВНИИЖТ» ул. 3-я Мытищинская, д. 10, 
						Москва 129626 Справочные телефоны: +7 (499) 260-41-11
						+7 (495) 602-83-33 Факс:+7 (495) 602-84-84 
						E-mail: info@vniizht.ru
				</h4>
			</div>
					
			<div class="text-footer" >
				<div class="social" style = " width:150 px; margin-top:45px;  margin:15px; " >
					<a href="#" class="social1"></a>
					<a href="#" class="social2"></a>
					<a href="#" class="social3"></a>
					<a href="#" class="social4"></a>
				</div>
			</div>
					
				
				
		</div>	 {% endcomment %}
	</div>
</body>
</html>