{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
		<br> 
		<h3 style = "text-align:center;">
		{{fuction_result}}
		<br>
		</h3>
		<h5 style = "text-align:center;">
		<form action="{% url 'main' %}">
		<button>Вернуться на главную страницу</button> </form>
		</h5>
		<br>
        {% for desc in desc_names %}
		<h4 style = "text-align:center;">
		{{desc}}
		</h4>
		{% endfor %}
		<br>
		{% for pic in pic_names %}
		    <div  style = "padding:0; margin:0; margin-left: auto; margin-right: auto; display: flex; align-items:center; justify-content: center ">
				<img src = "{{pic}}"  alt={{pic}} style = "margin-top:5px;  margin-left:auto; margin-right:auto; width:800px; height: 500px; ">
		    
			</div>
		{% endfor %}
		<h5 style = "text-align:center;">
		<form action="{% url 'main' %}">
		<button>Вернуться на главную страницу</button> </form>
		</h5>
		<br>
		{% endblock %}