Neiroexpert_WEb/projekts/help_materials/isx_dannie.mp4
Neiroexpert_WEb/projekts/help_materials/start_login.mp4
Neiroexpert_WEb/projekts/help_materials/analyze.mp4
Neiroexpert_WEb/projekts/help_materials/desktop.ini
